@import 'variables';

.banner {
    height: 223px;
    width: 100%;
    display: flex;
    justify-content: $center;
    align-items: $center;
    border-radius: $banner-and-card--border-radius;
    position: relative;
    background-size: cover;
    background-position: $center;
    &-overlay {
        position: absolute;
        inset: 0;
        border-radius: $banner-and-card--border-radius;
        z-index: 1;
    }
    h1 {
        position: relative;
        z-index: 2;
        font-size: 2.5em;
        color: $white-color;
        margin: 0;
    }
}
  

  